# ─── Credenciais ─────────────────────────────────────────
ADMIN_PASSWORD=SenhaForte@2026
MYSQL_ROOT_PASSWORD=rootpass
GUACAMOLE_DB_PASSWORD=guacamole_pass
VNC_PASSWORD=SenhaForte@2026

# ─── Recursos ────────────────────────────────────────────
RAM_SIZE=3G
CPU_CORES=2
DISK_SIZE=60G
